<div class="row">
  <div class="col-md-6 col-md-offset-3"
    <p>Let's edit the task with title: </p><%= @task.name %>
    <br>
    <%= form_for [@project, @task] do |f| %>
      <div class="row">
        <span>Enter new title </span>
        <span>
          <% if @task.status == true %>
            <%= f.check_box_tag :status, false, checked: true %>Status
            <%= hidden_field_tag :status, true %>
          <% else %>
            <%= f.check_box_tag :status, true, checked: false %>Status
          <% end %>
          <%= f.text_field :name %>
          <%= f.submit 'Save', class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
  <%= link_to 'Back', projects_path %> 
</div>